@import url("https://fonts.google.com/specimen/Poppins");

*{
    font-family: "Poppins", sans-serif;
}


.container-fluid {
  height: 100vh;
 background-color: #e2e7ea; 
}

.container-form {
  width: 450px;
}
